<h3 class="text-center">WELCOME TO LOG IN PAGE!!</h3>


<div class="bg container-fluid">
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 m-2 text-white formbg">
        <form class="m-3" [formGroup]='loginForm' >
            <div class="mb-3">
              <label  class="form-label">Username</label>
              <input type="email" class="form-control" formControlName="userName" placeholder="Enter Email">
             
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" placeholder="Enter Password" formControlName="password" class="form-control" id="exampleInputPassword1">
            </div>
           
            <button type="submit" class="btn btn-success" (click)="onLogin()">LogIn</button>
          </form>
          <div class="text-white">
            <h6 class="text-center">or</h6>
            <p class="text-center" >Not a user?<a routerLink="/signup" class="text-info" style="text-decoration:none" >click here for signup</a></p>
        </div>
    </div>
    <div class="col-md-4"></div>
    
</div>
</div>

